@use '../../partials/base';

.page{
  background-color: #FCFCFC;
  min-height: 100vh;
}
.topContainer{
  display: grid;
  place-items: center;
  grid-template-columns:15% 65% 20% ;
  padding-top: 2rem;
  margin-bottom: 5rem;
}
.resultContainer{  
  display: grid;  
  margin:auto;
  grid-template-columns: 80% 20%;  
  height: 675px;
  width: 1000px;  
}

.resultListContainer{
display: grid;
grid-template-rows: 475px 200px ;
margin-top: 2rem;
margin-right: 2rem;
}
.resultList{
 
}

.paginationBox{
  background-color: green;
  display: grid;
  place-items: center;
  grid-row: 100%;
}
.orderBox{
  background-color: greenyellow;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 2.4rem auto;
  height: 17rem;
}

.searchBarListItem{
  font-size: larger;
color:  #090A0A;
}
.searchBarListSearchedItem{  
    font-size: larger;
    font-weight: 900;
    color:rgb(32, 49, 148);
}
.floatL{
  float: left;   
}
.floatR{
  float: right;
}

.listBox{
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; 
  padding: 0;
  
}
.listItem{
  height: 90px;
  display: grid;
  align-items: center;
}

.listItemInsideBox{
  height: 80px;
  border-radius: 0.6rem;
  background-color: white;
  padding: 1rem;
  display: grid;

}
.listItemFirstLine{

}
.seperatorLine{
  width: 95%;
  border-bottom: 0.12rem solid #7E7E7E;
  margin: 0.1rem auto;
}

.listItemInsideBox:hover{
  background-color: #4F75C236;
}

.sortButton{
  display: grid;
  grid-template-columns: 20% 80% ;
  font-size: large;
  place-items: center;  
  height: 2.4rem;
  width: 9rem;  
  background-color:#F3F2F2 ;
  border: 0.2rem solid #414141;
  border-radius: 0.8rem;
  font-family: base.$font-roboto;
  font-weight: 700;
  color:#484848;
  cursor:pointer;
}
.dropDownBox{
  background-color: white;
  border: 0.13rem solid #8F8F8F;
  border-radius: 0.5rem;
  width: 90%;
  padding: 1rem 1rem;
}
.dropDownListItem{
  height: 2.8rem;
  line-height: 1rem;
  padding: 0.4rem;
  display: grid;
  align-items: center;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor:pointer;
  margin-bottom: 0.2rem;
}
.dropDownListItem:hover{
background-color:#B3B3B3 ;
color: white;
}

.dropDownListItemSelected{
  background-color:#B3B3B3 ;
  color: white;
  }