@use '../../partials/base';

.page{
  background-color: #FCFCFC;
 height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
  
}
.topContainer{
  display: grid;  
  width:40rem;
  height: 7rem;
  place-items: center;
  grid-template-columns:1fr 2fr;
  padding-top: 2.5rem;
  padding-left: 1.9rem;
  margin-bottom: 2rem;
}
.returnLink{
  display: grid;
  justify-items: left;
  align-items: center;
  grid-template-columns: auto auto;
  margin-left: -6rem;
  cursor: pointer;
  &:hover{
    scale:1.01;
    
   
  }
}

.returnText{
font-family: base.$font-roboto;
font-size: 24px;
font-weight: 700;
color: #484848; 
margin-left: 1rem;
}
.alertBox{
  display: grid;
  justify-items: start;
}
.displayAlertBox{
  display: none;
}
.buttonContainer{
  float: right;
}
.errorInput{
  color: red !important;
  border-color: red !important;
}
.formBox{
  display: grid;
  place-items: center; 
  grid-template-columns: 4fr 1fr;
  margin-left: 0;

  div{
    margin-bottom: 2rem;
    label,input{
      display: block;    
      font-weight: 600;
      font-size: 1.3rem;
      font-family: base.$font-roboto;
    }
    input{
      height: 3.5rem;
      width: 50rem;
      border: 1.5px solid #484848;
      border-radius: 0.5rem;
      padding-left: 1.5rem;
    }
    label{
      color: #686868;
      margin-bottom: 1rem;
      margin-left: 0.8rem;

    }
  }
}