@use '../../../../partials/base';

.button{
  background-color: base.$primary-color;
  color: base.$white;
  font-size: base.$font-size;
  height: 46px;
  padding: 0 3rem;
  border-radius: 0.8rem;
  border: none;
  font-family: base.$font-roboto;
}