@use '../../partials/base';


.searchBarContainer{
margin-bottom: 5rem;
}
.container{
  display: flex;
  align-items: center;
  margin-left: -2rem;
}
.floatL{
 float: left;
  
}
.floatR{
  float: right;
}
.noResults{
  display: grid;
  place-items: center;
  margin-top: 5rem;
  font-size: 2rem;
}
.searchArea{  
  border: 2px solid base.$primary-color;
  border-radius:8px;
  width: 648px;
  height: 48px;
  margin: 0.8rem 0.8rem 0.8rem 0;
  font-family: base.$font-inter;
  font-size: 16px;
  padding-left: 3.5rem;
  
}
.searchArea:focus{
  outline: none;
  border: 3px solid  base.$primary-color;
  
}
.searchIcon{
  padding-left: 1rem;
  position: relative;
  left: 2.5rem;   
}

.modalBox{
  width:717px;
  height: 250px;
  border: 1px solid #484848;
  border-radius: 24px;
  position: relative;
  left: -2rem;  
  display: grid;
  grid-template-rows: [row1] 95% [row2] 5%;
  padding: 0.5rem 1rem 1rem 1rem;
}

ul{
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 33.3% 33.3% 33.4%;
  padding-right: 2rem;
}
li{
  height: 65px;
  display: grid;
  align-items: center;
  
  border-bottom: 0.1rem solid base.$primary-trans-color;
  
}

.showMore{
  display: grid;
  place-items: center; 
  font-size: 1rem;
  font-weight: 800;
  font-family: base.$font-inter;
  
  cursor: pointer;
}
.searchBarListItem{
  font-size: larger;
color: rgb(208, 208, 214);
}
.searchBarListSearchedItem{  
    font-size: larger;
    font-weight: 900;
    color:rgb(32, 49, 148);
  
}

