@use '../../partials/base';

.container{
  display: flex;
  align-items: center;
}
.searchBar{
  
  border: 2px solid base.$primary-color;
  border-radius:8px;
  width: 648px;
  height: 48px;
  margin: 0.8rem 0.8rem;
  font-family: base.$font-inter;
  font-size: 16px;
  padding-left: 3.5rem;
  
}
.searchBar:focus{
  outline: none;
  border: 3px solid  base.$primary-color;
  
}
.searchIcon{
  padding-left: 1rem;
  position: relative;
  left: 3.5rem;   
}

