.container{
  background-color: rgba(41,78,152,0.72);
  height: 277px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  place-items: center;
  margin-top: 4rem;
}

.img{

}

.contactBox{
line-height: 1.5rem;
color: white;
padding: 0 2rem;
}

.mapBox{

}