@use '/src/partials/base';

.page-container{
  margin: 0 4rem;
}
.container-center{  
  display: grid;
  place-items: center;
}
.logo{
  display: block;  
  margin: 0 auto;
}
.logo-subtitle{
  text-align: right;
  position: relative;
  right: -2.1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #484848;
  margin-top: 1rem;
}
.new-record-container{
  margin: 5rem 0;
  display: flex;
  justify-content: flex-end;
}
.search-title{
  font-family: base.$font-inter;
  font-size: 32px;
  font-weight: 900;
  color: #090A0A;
  width: 692px;
  margin: 0;
}

.slider-box{
  width: 1400px;
  
}
